<form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="container form_wrapper">

        <div>
            <label>
        First Name:</label>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label>
        Last Name: </label>
            <input type="text" formControlName="lastName">
        </div>
        <div>
            <label>
        Age:  </label>
            <input type="text" formControlName="age">
        </div>
        <div>
            <label>
        Driver License Number:   </label>
            <input type="text" formControlName="driverLicenseNumber">
        </div>
        <div>
            <label>
        Email: </label>
            <input type="text" formControlName="eMailAdress">
        </div>
        <div>
            <input type="submit" class="btn btn-dark button " value="Submit">

        </div>
    </div>
</form>